body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.cv-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

header h1 {
    color: #007BFF;
    text-align: center;
}

header h2 {
    color: #007BFF;
    text-align: center;
}

section {
    margin-top: 30px;
}

.job h3 {
    color: #007BFF;
}

.competence h3 {
    color:#007BFF;
}

ul {
    list-style-type: none;
    padding: 0;
}

.skills ul,
.education ul {
    padding-left: 20px;
    margin-bottom: 10px;
}

.skills p,
.education p {
    margin-bottom: 10px;
}

ul, ol {
    list-style-type: disc; 
    padding: 0;
}

.print-button {
    display: block;
    margin: auto;
    padding: 10px 20px;
    font-size: 18px;
}

@media print {
    body {
        width: 21cm;
        height: 29.7cm;
        margin: 20mm;
    }

    .cv-container {
        max-width: 100%;
        margin: 0;
        padding: 0;
        box-shadow: none;
        border-radius: 0;
    }

    .print-button {
        display: none;
    }
}
