.nos-chefs-section {
    max-width: 800px;
    margin: 0 auto;
}

.chef-element {
    margin-bottom: 20px;
    text-align: center;
}


.chef-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.chef {
    flex: 1;
    max-width: 300px;
    margin: 10px;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.chef img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.chef h3 {
    margin-top: 10px;
    color: #4A305A;
}
